/*----------HEADER----------*/
.logo {
  color: #000;
  border: 2px solid #000;
}

.links li{
  color: #000;
}

/*----------SHOP----------*/

.sheader {
  border-bottom: 2px solid #000;
  margin: 20px;
}

.shopitem {
  position: relative;
  background-color: #fff;
  height: 300px;
  width: 100%;
  padding: 10px;
  z-index: 0;
}

.shopitem:hover {
  position: relative;
  z-index: 1;
  background-color: #000;
}

#item1 {
  background-image: url(../img/beans.jpg);
  background-position: center;
  background-size: cover;
}

#item2 {
  background-image: url(../img/bag.jpg);
  background-position: center;
  background-size: cover;
}

#item3 {
  background-image: url(../img/mug.jpg);
  background-position: right;
  background-size: cover;
}

#item4 {
  background-image: url(../img/shirt.jpg);
  background-position: right;
  background-size: cover;
}
